@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Este site consome as informações da API do <a href="https://viacep.com.br/" target="_blank">ViaCEP</a>, que ao inserir um CEP com 8 digitos retorna os dados do endereço.</p>
</div>
